.Meme{
    width: 300px;
    padding: 10px;
    position: relative;
    display: inline-block;
}
.container {
    position: relative;
}

.container img {
    width: 300px;
    height: 300px;
    margin: 0;
    overflow: hidden;
    border-radius: 6px;
}

.container span {
    font-size: 2em;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
}
  
.top-text {
    top: 0em;
}

.bottom-text {
    bottom: 32px;
}

.top-text,
.bottom-text {
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 3px black;
    pointer-events: none;
}

#meme_deleteBtn {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    background-color: #B00;
    color: white;
    display: block;
    margin: 0 auto;
}

#meme_deleteBtn:hover {
    background-color: #E00;
    cursor: pointer;
}